core/src/main/webapp/modules/test/sys_provide_webservice_multi_records_sample.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.aurora-framework.org/schema" targetNamespace="http://www.aurora-framework.org/schema" name="sys.test.sys_provide_webservice_multi_records_sample">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.aurora-framework.org/schema" elementFormDefault="qualified">
            <xsd:element name="insertRequesttype">
                <xsd:complexType>
                	<xsd:sequence>
                		<xsd:element name="requestHead" maxOccurs="1" minOccurs="0">
                			<xsd:complexType>
                				<xsd:attribute name="sequenceNo"
                					type="xsd:string">
                				</xsd:attribute>
                			</xsd:complexType>
                		</xsd:element>
                		<xsd:element name="requestBody" maxOccurs="1" minOccurs="1">
                			<xsd:complexType>
                				<xsd:sequence>
                					<xsd:element name="records" maxOccurs="1" minOccurs="1" type="tns:recordsComplexType">                					</xsd:element>
                				</xsd:sequence>
                			</xsd:complexType>
                		</xsd:element>
                	</xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="RecordType">
            	<xsd:attribute name="record_id" type="xsd:string"></xsd:attribute>
            	<xsd:attribute name="record_code" type="xsd:string"></xsd:attribute>
            	<xsd:attribute name="record_status" type="xsd:string"></xsd:attribute>
            </xsd:complexType>
            <xsd:element name="insertResponsetype">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="responseBody">
            				<xsd:complexType>
            					<xsd:sequence>
            						<xsd:element name="records"
            							type="tns:recordsComplexType">
            						</xsd:element>
            					</xsd:sequence>
            					<xsd:attribute name="responseDate"
            						type="xsd:string">
            					</xsd:attribute>
            				</xsd:complexType>
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:complexType name="recordsComplexType">
            	<xsd:sequence>
            		<xsd:element minOccurs="1" maxOccurs="unbounded"
            			name="record" type="tns:RecordType">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="insertRequestmessage">
        <wsdl:part element="tns:insertRequesttype" name="insertRequestpart"/>
    </wsdl:message>
    <wsdl:message name="insertResponse">
    	<wsdl:part name="insertResponsepar" element="tns:insertResponsetype"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="sys.test.sys_provide_webservice_multi_records_sample_portType">
        <wsdl:operation name="insert">
            <wsdl:input message="tns:insertRequestmessage"/>
            <wsdl:output message="tns:insertResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding type="tns:sys.test.sys_provide_webservice_multi_records_sample_portType" name="sys.test.sys_provide_webservice_multi_records_sample_binding">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="insert">
            <soap:operation soapAction="insert"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="sys.test.sys_provide_webservice_multi_records_sample_service">
        <wsdl:port name="sys.test.sys_provide_webservice_multi_records_sample_port" binding="tns:sys.test.sys_provide_webservice_multi_records_sample_binding">
            <soap:address location="http://127.0.0.1:8080/hec2dev/modules/sys/test/sys_provide_webservice_multi_records_sample.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>