core/src/main/webapp/modules/zhangxing5129/sys_provide_webservice_one_record_sample.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.leaf-framework.org/schema" targetNamespace="http://www.leaf-framework.org/schema" name="sys.test.sys_provide_webservice_one_record_sample">
    <wsdl:types>
        <xsd:schema
        	targetNamespace="http://www.leaf-framework.org/schema" elementFormDefault="qualified">
        	<xsd:element name="parameter">
        		<xsd:complexType>
        			<xsd:attribute type="xsd:long" name="record_id" />
        			<xsd:attribute type="xsd:string" name="record_code" />
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="soapResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="success" type="xsd:string">
        				</xsd:element>
        				<xsd:element name="message"
        					type="xsd:string">
        				</xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="insertRequestmessage">
        <wsdl:part element="tns:parameter" name="insertRequestpart"/>
    </wsdl:message>
    <wsdl:message name="insertResponsemessage">
    	<wsdl:part name="insertResponsepart" element="tns:soapResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="sys.test.sys_provide_webservice_one_record_sample_portType">
        <wsdl:operation name="insert">
            <wsdl:input message="tns:insertRequestmessage"/>
            <wsdl:output message="tns:insertResponsemessage"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding type="tns:sys.test.sys_provide_webservice_one_record_sample_portType" name="sys.test.sys_provide_webservice_one_record_sample_binding">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="insert">
            <soap:operation soapAction="insert"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="sys.test.sys_provide_webservice_one_record_sample_service">
        <wsdl:port name="sys.test.sys_provide_webservice_one_record_sample_port" binding="tns:sys.test.sys_provide_webservice_one_record_sample_binding">
            <soap:address location="http://127.0.0.1:8080/FWFL/modules/zhangxing5129/sys_provide_webservice_one_record_sample.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>