core/src/main/webapp/modules/zhangxing5129/zx_test_webservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    $Author: hp  
    $Date: 2014-5-12 上午11:46:21  
    $Revision: 1.0  
    $Purpose: 
-->
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.leaf-framework.org/schema" targetNamespace="http://www.leaf-framework.org/schema" name="auto">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.leaf-framework.org/schema" elementFormDefault="qualified">
            <xsd:element name="Requesttype">
                <xsd:complexType>
                    <xsd:attribute type="xsd:string" name="user_name"/>
                    <xsd:attribute type="xsd:string" name="password"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="soapResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:string" name="user_name"/>
                        <xsd:element type="xsd:string" name="password"/>
                        <xsd:element type="xsd:string" name="result"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="response_message">
        <wsdl:part element="tns:soapResponse" name="response_part"/>
    </wsdl:message>
    <wsdl:message name="request_message">
        <wsdl:part element="tns:Requesttype" name="request_part"/>
    </wsdl:message>
    <wsdl:portType name="auto_portType">
        <wsdl:operation name="update">
            <wsdl:input message="tns:request_message"/>
            <wsdl:output message="tns:response_message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding type="tns:auto_portType" name="zhangxing5129.zx_test.update_binding">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="update">
            <soap:operation soapAction="update"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="auto_service">
        <wsdl:port name="auto_port" binding="tns:zhangxing5129.zx_test.update_binding">
            <soap:address location="http://localhost:8080/FWFL/modules/zhangxing5129/zx_test_webservice.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
